{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="..."
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <script src="{% static 'js/script.js' %}"></script>
  </head>
  <body>
    <header>
      <div class="header">
        <div class="header_title">
          <div class="header_titleText">
            <h1>Goods and Services Tax</h1>
            <span>(for educational purpose only)</span>
          </div>
          <div class="header_login">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            <div class="header_titleLogin">
              <p>login</p>
            </div>
          </div>
        </div>
        <div class="header__menu">
          <div class="header__menuItem">
            <p>Home</p>
          </div>
          <div class="header__menuItem dropdown">
            <p>Services</p>
          </div>
          <div class="header__menuItem">
            <p>GST Law</p>
          </div>
          <div class="header__menuItem">
            <p>Downloads</p>
          </div>
          <div class="header__menuItem">
            <p>Search Taxpayer</p>
          </div>
          <div class="header__menuItem">
            <p>Help and Taxpayer Facilities</p>
          </div>
          <div class="header__menuItem">
            <p>e-Invoice</p>
          </div>
        </div>
      </div>
      <div class="login">
        <div class="login__block">
          <div class="login__blockBreadcrumb">
            <nav aria-label="breadcrumb" class="breadcrumb-custom">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                  <a href="#" class="breadcrumb-link">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Registration
                </li>
              </ol>
            </nav>
          </div>
          <form id="newRegistrationForm" method="post" action="" style="width: 500px; margin: auto;">
            {% csrf_token %}
            <input
              type="hidden"
              name="registrationType"
              value="editRegistration"
            />

            <div class="login__blockFormLabel">
              <p>State / UT</p>
              <span class="dot"></span>
            </div>
            <select id="state" name="state_ut" class="selectMy state" required>
              <option>{{ edit_data.state_ut }}</option>
            </select>

            <div class="login__blockFormLabel">
              <p>District</p>
              <span class="dot"></span>
            </div>
            <select
              id="district"
              name="district"
              class="selectMy dropdown-toggle"
              required
            >
              <option>{{ edit_data.district }}</option>
            </select>

            <div class="login__blockFormLabel">
              <p>Legal Name Of The Business</p>
              <p style="font-size: 14px">(As mentioned in PAN)</p>
              <span class="dot"></span>
            </div>
            <input
              class="login__blockFormInput"
              type="text"
              name="legalBusinessName"
              value={{edit_data.legalBusinessName}}
              required
            />

            <div class="login__blockFormLabel">
              <p>Permanent Account Number</p>
              <span class="dot"></span>
            </div>
            <input
              class="login__blockFormInput"
              type="text"
              name="panNumber"
              value={{edit_data.panNumber}}                            
              required
            />

            <div class="login__blockFormLabel">
              <p>Email Address</p>
              <span class="dot"></span>
            </div>
            <div
              style="
                display: flex;
                align-items: center;
                border: 1px solid #c0bfbf;
                margin-bottom: 10px;
              "
            >
              <div
                style="
                  padding: 8px;
                  background: #f9f9f9;
                  border-right: 1px solid #e0e0e0;
                "
              >
                📧
              </div>
              <input
                type="email"
                name="email"
                value={{edit_data.email}}                
                style="
                  border: none;
                  padding: 6px;
                  outline: none;
                  flex: 1;
                  font-size: 15px;
                  color: #555;
                  height: 36px;
                "
                required
              />
            </div>
            <button class="login__blockFormContentButton" type="submit">
                  Update
                </button>
          </form>
        </div>
      </div>
    </header>
  </body>
</html>
