{% extends 'base.html' %}
{% load static %}

{% block content %}
<form
  id="newRegistrationForm"
  method="post"
  action="{% url 'edit' edit_data.id %}"
  style="width: 500px; margin: auto"
>
  {% csrf_token %}
  <input type="hidden" name="registrationType" value="editRegistration" />

  <div class="login__blockFormLabel">
    <p>State / UT</p>
    <span class="dot"></span>
  </div>
  <select id="state" name="state_ut" class="selectMy state" required>
    <option value="{{ edit_data.state_ut }}" selected>
      {{ edit_data.state_ut }}
    </option>
  </select>

  <div class="login__blockFormLabel">
    <p>District</p>
    <span class="dot"></span>
  </div>
  <select
    id="district"
    name="district"
    class="selectMy dropdown-toggle"
    required
  >
    <option value="{{ edit_data.district }}" selected>
      {{ edit_data.district }}
    </option>
  </select>

  <div class="login__blockFormLabel">
    <p>Legal Name Of The Business</p>
    <p style="font-size: 14px">(As mentioned in PAN)</p>
    <span class="dot"></span>
  </div>
  <input
    class="login__blockFormInput"
    type="text"
    name="legalBusinessName"
    value="{{ edit_data.legalBusinessName }}"
    required
  />

  <div class="login__blockFormLabel">
    <p>Permanent Account Number</p>
    <span class="dot"></span>
  </div>
  <input
    class="login__blockFormInput"
    type="text"
    name="panNumber"
    value="{{edit_data.panNumber}}"
    required
  />

  <div class="login__blockFormLabel">
    <p>Email Address</p>
    <span class="dot"></span>
  </div>
  <div
    style="
      display: flex;
      align-items: center;
      border: 1px solid #c0bfbf;
      margin-bottom: 10px;
    "
  >
    <div
      style="padding: 8px; background: #f9f9f9; border-right: 1px solid #e0e0e0"
    >
      📧
    </div>
    <input
      type="email"
      name="email"
      value="{{edit_data.email}}"
      style="
        border: none;
        padding: 6px;
        outline: none;
        flex: 1;
        font-size: 15px;
        color: #555;
        height: 36px;
      "
      required
    />
  </div>
  <button class="login__blockFormContentButton" type="submit">Update</button>
</form>
{% endblock %}